* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
}

body {
  color: #FFFFFF;
  background-color: #422FB1;
}

header {
  width: 500px;
  margin: 100px auto 100px auto;
}

.blink {
  width: 4px;
  height: 16px;
  cursor: pointer;
  margin-top: 2px;
  margin-left: -12px;
  position: absolute;
  background-color: #FFFFFF;
  animation: blinker 1.5s step-start 0s infinite;
  -webkit-animation: blinker 1.5s step-start 0s infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0.0;
  }
}

h1 {
  font-size: 16px;
  font-weight: 600;
}

h2 {
  opacity: .6;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 26px;
}

.bio {
  width: 500px;
  font-size: 24px;
  margin: 0 auto 100px auto;
}

.bio a {
  opacity: .6;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .5s ease;
}

.bio a:hover {
  opacity: 1;
}

.item-container {
  width: 500px;
  margin: 0 auto 100px auto;
  transition: margin-left 1.5s ease;
}

.item {
  width: 240px;
  height: 183px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 22px;
  border-radius: 10px;
  display: inline-block;
  transition: all .5s ease;
  border: 1px solid rgba(255,255,255,.2);
}

.item:hover {
  border: 1px solid rgba(255,255,255,.6);
}

.item:hover p {
  border-top: 1px solid rgba(255,255,255,.6);
}

.left {
  margin-right: 15px;
}

.item img {
  margin-top: 50px;
}

#trainer img {
  width: 44px;
  height: 44px;
}
.item p {
  width: 216px;
  height: 38px;
  color: #FFFFFF;
  font-size: 16px;
  text-align: left;
  line-height: 38px;
  margin: 50px auto 0 auto;
  transition: all .5s ease;
  border-top: 1px solid rgba(255,255,255,.2);
}

footer {
  width: 500px;
  margin: 0 auto 100px auto;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.bottom {
  margin-bottom: 0;
}

footer a {
  color: #FFFFFF;
  margin-right: 300px;
  display: inline-block;
  text-decoration: none;
  transition: color .5s ease;
}

footer a:hover {
  color: rgba(255,255,255,.6);
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 499px) {
  header {
    width: 240px;
    margin: 80px auto 80px auto;
  }

  .bio {
    width: 240px;
    font-size: 20px;
    margin: 0 auto 80px auto;
  }

  .item-container {
    width: 240px;
    margin: 0 auto 80px auto;
  }

  footer {
    width: 240px;
    margin: 0 auto 80px auto;
  }

  h3 {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*iPhone + sizing */

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

  header {
    width: 240px;
    margin: 80px auto 80px auto;
  }

  .bio {
    width: 240px;
    font-size: 20px;
    margin: 0 auto 80px auto;
  }

  .item-container {
    width: 240px;
    margin: 0 auto 80px auto;
  }

  footer {
    width: 240px;
    margin: 0 auto 80px auto;
  }

  h3 {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*iPhone sizing */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  header {
    width: 240px;
    margin: 80px auto 80px auto;
  }

  .bio {
    width: 240px;
    font-size: 20px;
    margin: 0 auto 80px auto;
  }

  .item-container {
    width: 240px;
    margin: 0 auto 58px auto;
  }

  footer {
    width: 240px;
    margin: 0 auto 80px auto;
  }

  h3 {
    font-size: 20px;
  }
}
