* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #422FB1;
  color: white;
  width: 500px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
}

.bio {

}
.links {
  text-align: center;
}

.links a{
  color: white;
}
